PORT=3001
DB_HOST=localhost
DB_USER=root
DB_PASS=elteupassword
DB_NAME=entrades_realtime

# Clau d'API de TMDb (Obtenla a https://www.themoviedb.org/documentation/api)
TMDB_API_KEY=el_teu_api_key_aqui
